<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crykid.updata">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <!--name是真实的类路径-->
        <!--区别标识符，跟getUri的一致，注意packageName/applicationId与BuildConfig.APPLICATION_ID不一定相同-->
        <provider
            android:name=".utils.AutoUploaderProvider"
            android:authorities="com.crykid.updata.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/auto_updata" />
        </provider>
    </application>
</manifest>
